.header-container {
  position: relative;
  padding: 10px 30px;
  height: 70px;
  justify-content: space-between;
  background-color: #de2e2e;
  color: #fff;
  z-index: 1;
}

.side-nav-container {
  height: 100%;
  box-shadow: 7px 0px 14px 1px #cccccc;
  margin-right: 20px;
}